.Card {
  @apply block relative rounded-2xl overflow-hidden shadow-md;

  height: 80vh;
}

.Card:first-child {
  @apply pl-4;
}

.CardTitle {
  @apply absolute bottom-4 left-4 text-orange-400 font-display text-4xl z-10;

  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.Card img {
  object-fit: cover;
}

.ImageOverlay::before {
  @apply absolute inset-0;

  content: "";
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 20%,
    rgba(0, 0, 0, 0) 50%
  );
}
